<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AlumniHonorMapper">
    
    <resultMap type="AlumniHonor" id="AlumniHonorResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="honorName"    column="honor_name"    />
        <result property="honorLevel"    column="honor_level"    />
        <result property="obtainTime"    column="obtain_time"    />
        <result property="issueUnit"    column="issue_unit"    />
        <result property="honorAttach"    column="honor_attach"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAlumniHonorVo">
        select id, user_id, honor_name, honor_level, obtain_time, issue_unit, honor_attach, create_time, update_time from alumni_honor
    </sql>

    <select id="selectAlumniHonorList" parameterType="AlumniHonor" resultMap="AlumniHonorResult">
        <include refid="selectAlumniHonorVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="honorName != null  and honorName != ''"> and honor_name like concat('%', #{honorName}, '%')</if>
            <if test="honorLevel != null  and honorLevel != ''"> and honor_level = #{honorLevel}</if>
            <if test="obtainTime != null "> and obtain_time = #{obtainTime}</if>
            <if test="issueUnit != null  and issueUnit != ''"> and issue_unit = #{issueUnit}</if>
            <if test="honorAttach != null  and honorAttach != ''"> and honor_attach = #{honorAttach}</if>
        </where>
    </select>
    
    <select id="selectAlumniHonorById" parameterType="Long" resultMap="AlumniHonorResult">
        <include refid="selectAlumniHonorVo"/>
        where id = #{id}
    </select>

    <insert id="insertAlumniHonor" parameterType="AlumniHonor" useGeneratedKeys="true" keyProperty="id">
        insert into alumni_honor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="honorName != null and honorName != ''">honor_name,</if>
            <if test="honorLevel != null and honorLevel != ''">honor_level,</if>
            <if test="obtainTime != null">obtain_time,</if>
            <if test="issueUnit != null and issueUnit != ''">issue_unit,</if>
            <if test="honorAttach != null">honor_attach,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="honorName != null and honorName != ''">#{honorName},</if>
            <if test="honorLevel != null and honorLevel != ''">#{honorLevel},</if>
            <if test="obtainTime != null">#{obtainTime},</if>
            <if test="issueUnit != null and issueUnit != ''">#{issueUnit},</if>
            <if test="honorAttach != null">#{honorAttach},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAlumniHonor" parameterType="AlumniHonor">
        update alumni_honor
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="honorName != null and honorName != ''">honor_name = #{honorName},</if>
            <if test="honorLevel != null and honorLevel != ''">honor_level = #{honorLevel},</if>
            <if test="obtainTime != null">obtain_time = #{obtainTime},</if>
            <if test="issueUnit != null and issueUnit != ''">issue_unit = #{issueUnit},</if>
            <if test="honorAttach != null">honor_attach = #{honorAttach},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAlumniHonorById" parameterType="Long">
        delete from alumni_honor where id = #{id}
    </delete>

    <delete id="deleteAlumniHonorByIds" parameterType="String">
        delete from alumni_honor where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>